.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    text-align: center;
    background-color: var(--color-background-light);
}

.notFoundContainer h1 {
    font-size: 10em; /* Erro GIGANTE */
    color: var(--color-primary-gold); /* Dourado para o erro */
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.05em;
}

.notFoundContainer p {
    font-size: 2em;
    color: var(--color-text-dark);
    margin-bottom: 40px;
    font-family: 'Lora', serif;
}

.homeLink {
    background-color: var(--color-primary-green); /* Botão em verde principal */
    color: var(--color-white);
    padding: 18px 35px; /* Botão maior */
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}