.footer {
    background-color: var(--color-primary-green); /* Verde principal no rodapé */
    color: var(--color-white);
    text-align: center;
    padding: 30px; /* Mais padding */
    margin-top: 60px; /* Mais espaço acima do rodapé */
    font-size: 0.95em; /* Ligeiramente maior */
    line-height: 1.6;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05); /* Sombra sutil */
}

.footer p {
    margin: 5px 0;
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
}